.hero-animation {
  animation: toLeft 3s forwards ease-in-out;
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
