@import "../sass-utils/media-queries";

.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  @include for-tablet() {
    max-width: 90rem;
    padding: 0 4.5rem;
  }
  @include for-desktop() {
    max-width: 114rem;
    padding: 0 5rem;
  }
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.close {
  background: url("/src/imgs/close.png") no-repeat !important;
}
