.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2.4rem;
  // @media screen and (min-width: 768px) {
  //   max-width: 720px;
  // }
  // @media screen and (min-width: 992px) {
  //   max-width: 960px;
  // }
  // @media screen and (min-width: 1200px) {
  //   max-width: 1140px;
  // }
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.close {
  background: url("/src/imgs/close.png") no-repeat !important;
}
