.container {
  padding: 0 2.4rem;
  max-width: 100rem;
  margin: 0 auto;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
