// VARIABLES
// COLORS
$primary-color: #ff8f81;
$secondary-color: #7d85b3;
$black: #000000;
$white: #ffffff;

// font sizes
$fs-xl: 6.4rem;
$fs-l: 4.8rem;
$fs-md-2: 4.5rem;
$fs-md: 3.2rem;
$fs-sm: 2.4rem;
$fs-xs: 2rem;
$fs-2xs: 1.8rem;
$fs-base: 1.6rem;
$fs-3xs: 1.4rem;
$fs-4xs: 1.3rem;

// font weight

$fw-extra-bold: 800;
$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;

// font-family

$ff-inter: "Inter", sans-serif;

// padding

$section-padding: 5.2rem 0;
