@import "../sass-utils/variables";
// TODO:
// JS functionality
//  add descriptions
// add Typography to description
.accordion {
  padding: 5.2rem 0;
  background-color: $secondary-color;

  &__heading {
    display: inline-block;
    margin-bottom: 2.5rem;
    color: $white;
    letter-spacing: 2px;
  }
  &__heading.active {
    font-size: $fs-md;
  }
  &__container {
    box-shadow: $primary-color 5px 5px, $primary-color 8px 8px;
    border-radius: 25px;
    background-color: $white;
  }
  &__boxes {
    padding: 2rem 0;
    padding-left: 0.5rem;
  }
  &__box-headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box-heading {
    font-size: $fs-base;
    font-weight: $fw-bold;
    transition: all 0.3s ease-in-out;
  }
  &__box-heading.active {
    font-size: $fs-2xs;
    font-weight: $fw-extra-bold;
  }
  &__box {
    padding: 1.9rem 1.6rem;
    transition: all 0.3s ease-in-out;
  }
  &__description {
    font-size: 1.4rem;
    padding-top: 1rem;
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }
  &__description.active {
    max-height: 20rem;
  }
  .plus {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    transition: transform 250ms ease-in-out;
    .line {
      display: inline-block;
      background-color: $primary-color;
    }
    .line-vertical {
      height: 10.5px;
      border: 1px solid #0e1c4e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .line-horizontal {
      width: 10.5px;
      border: 1.5px solid #0e1c4e;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.active {
      transform: rotate(45deg);
      animation-name: rotate;
      animation-duration: 250ms;
      animation-timing-function: ease-in;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
