@import "../sass-utils/variables";

.contact {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $section-padding;
  gap: 2rem;
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: $fs-4xs;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    a {
      color: $primary-color;
      text-decoration: none;
      padding: 1rem 1.25rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      display: inline-block;
      border-radius: 3px;
      &:hover {
        color: $secondary-color;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: rotate(5deg) scale(1.05);
      }
    }
  }
  .personal__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: $white;
    font-size: $fs-4xs;
    &-name {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 0.3rem 0.5rem;

      &:hover {
        color: $primary-color;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}
