#app {
  padding: 1.1rem;
}
#home {
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.9rem;
}
.hero-img {
  background: no-repeat;
}
.hero-heading {
  display: inline-block;
  margin: 1.5rem 0;
  line-height: clamp(5rem, 8vw, 5.5rem);
  span {
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 18px;
    background: $secondary-color;
    bottom: 4px;
    left: 0;
    z-index: -1;
  }
}

.hero-img {
  margin: 0 auto;
}

.highlight-blue {
  background-color: $secondary-color;
}

.hero-description {
  font-size: $fs-3xs;
  font-weight: $fw-regular;
  margin-bottom: 2rem;
  padding: 0 6rem;
}
.hero-btns {
  gap: 1.3rem;
  margin-bottom: 4.7rem;
}
