@import "../sass-utils/variables";
.mobile-navigation {
  .hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
  }
  .bar-active {
    background-color: $secondary-color;
  }
}
.menu {
  display: none;
}

.menu.active {
  display: block;
}
