@import "../sass-utils/variables";

.testimonials {
  background-color: $primary-color;
  padding: $section-padding;

  &__container {
    height: 50rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  &__box {
    position: absolute;
    background-color: $white;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 40rem;
    margin-top: 3rem;
    transition: transform 1s;
    &-content {
      text-align: center;
      padding-top: 2rem;
    }
    &-title {
      font-size: $fs-2xs;
      font-weight: $fw-extra-bold;
      margin-bottom: 2rem;
    }
    p {
      font-weight: $fw-medium;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    &-ratings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ratings__name {
        font-size: $fs-4xs;
      }

      .ratings__stars {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .slider-controls {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 3rem;
  }
  .slider-icon {
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: #333;
      color: $white;
    }
  }
}
