@import "../sass-utils/variables";
@import "../sass-utils/mixins";

.testimonials {
  background-color: $primary-color;
  padding: $section-padding;
  @include for-tablet() {
    padding: $section-padding-xl;
  }
  h3 {
    color: $white;
  }
  &__container {
    height: 50rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  &__box {
    position: absolute;
    background-color: $white;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 40rem;
    margin-top: 4rem;
    transition: transform 1s;
    @include for-tablet() {
      padding: 3rem 2rem;
    }
    &-content {
      text-align: center;
      padding-top: 2rem;
    }
    &-title {
      font-size: $fs-2xs;
      font-weight: $fw-extra-bold;
      margin-bottom: 2rem;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background: $primary-color;
        bottom: 5px;
        left: 0;
        z-index: -1;
        border-radius: 2px;
        @include for-desktop() {
          opacity: 0.9;
          bottom: 10px;
        }
      }
      @include for-tablet() {
        font-size: $fs-sm;
      }
      @include for-desktop() {
        font-size: $fs-md;
      }
    }
    p {
      font-weight: $fw-medium;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      @include for-tablet() {
        font-size: 1.5rem;
        padding: 0 9rem;
      }
      @include for-desktop() {
        padding: 0 25rem;
      }
    }
    &-ratings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ratings__name {
        font-size: $fs-4xs;
        @include for-tablet() {
          font-size: $fs-base;
        }
      }

      .ratings__stars {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-tablet() {
      margin-top: 3rem;
    }
  }
  .slider-icon {
    background: none;
    z-index: 10;
    border: none;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover,
    &:active {
      opacity: 0.75;
    }
  }
}
